.hide {
  display: none !important;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

form > p {
  margin-bottom: 1rem;
}

label {
  font-weight: 700;
}

span.active {
  display: block;
  margin-top: .5rem;
  color: red;
}

#btn-submit {
  padding: .5rem 1rem;
  border: 2px solid orangered;
  border-radius: 4px;;
}